html {
    font-size: 62.5%;
}

body, button {
    font-family: $sansSerif;
    font-size: 1.3rem;
    line-height: 2rem;
    @include lrg {
        font-size: 1.45rem;
    }
}

button, 
.download {
    font-size: 1.1rem;
    @include lrg {
        font-size: 1.2rem;
    }
}

body, 
h1 {
    color: $black;
}

h1 {
    white-space: nowrap;
    font-family: $serif;
    font-size: 6.2rem;
    text-transform: capitalize;
    line-height: 7rem;
    @include lrg {
        font-size: 5.5rem;
    }
    @include sm {
        white-space: unset;
    }
}

header h2 {
    font-size: 1.85rem;
    color: $dotColor;
    font-weight: 500;
    span {
        padding-right: .25rem;
        position: relative;
        right: .5rem;
        filter: opacity(0.5);
    }
    @include lrg {
        font-size: 1.8rem;
    }
}

h2 {
    font-size: 2.8rem;
    font-family: $serif;
    font-weight: 400;
}

h4 {
    text-transform: uppercase;
    color: $accent1;
    background-color: $accent1Lighter;
    font-weight: 700;
    padding: .3rem 2rem;
    border: transparent;
    border-radius: 1.25rem;
}

nav h3 {
    font-family: $serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.6rem;
    @include lrg {
        font-size: 1.9rem;
    }
    @include med  {
        font-size: 2.4rem;
    }
}

#about h4,
#skills h4,
#portfolio h4 {
    font-size: 1.1rem;
}

.social {
    font-family: $serif;
    font-size: 1.6rem;
}

#portfolio {
    h3 {
        font-size: 1.9rem;
    }
    h4 {
        background-color: unset;
        color: $dotColor;
        font-size: 1.3rem;
    }
    a {
        font-size: 1.8rem;
        text-shadow: .1rem .1rem .5rem $black;
    }
}

#contact {
    background-color: unset;
    label,
    input,
    textarea {
        font-family: $serif;
        font-size: 1.4rem;
    }
    .links a {
        font-size: 1.8rem;
    }
}

footer {
    .download,
    i {
        font-size:  1rem;
    }
    p {
        font-size: 1.15rem;
        @include lrg {
            font-size: 1.2rem;
        }
    }
    p.copyright {
        filter: opacity(0.3);
        font-size: 1.05rem;
        @include lrg {
            font-size: 1.1rem;
        }
    }
}