#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70rem;
    position: relative;
    overflow: hidden;
    @media (max-width: 1070px) {
        height: unset;
    }
    &::after {
        content: '';
        background-image: url(../assets/decorative/blob1.svg);
        overflow: hidden;
        position: absolute;
        height: 60rem;
        width: 50rem;
        z-index: 20;
        right: -21%;
        top: -15%;
        background-size: cover;
        transform: rotate(-15deg);
        filter: opacity(0.6);
        @media (max-width: 1070px) {
            width: 20rem;
            height: 30rem;
            right: -9%;
            top: -10%;
        }
        @include sm {
            display: none;
        }
    }

    .aboutContainer {
        background-color: $white;
        position: relative;
        border-bottom: $bgColor solid .75rem;
        border-left: $bgColor solid .75rem;
        border-radius: .75rem;
        padding: 3% 4.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin: 15% 10%;
        @media (max-width: 1500) {
            margin: 20%;            
        }
        @media (max-width: 1070px) {
            margin: 10%;
        }
        &::before {
            content: '';
            height: 7.5rem;
            width: 7.5rem;
            background: linear-gradient(90deg, $white (1.5rem - .35rem), transparent 1%) center,
            linear-gradient($white (1.5rem - .35rem), transparent 1%) center,
            $accent1;
            background-size: 1.5rem 1.5rem;
            position: absolute;
            left: -8.5%;
            top: -20%;
            z-index: -10;
        }
        &::after {
            content: '';
            height: 50rem;
            width: 50rem;
            position: absolute;
            background-image: url(../assets/decorative/blob2.svg);
            background-size: cover;
            transform: scale(-1, 1) rotate(-30deg);
            right: -30%;
            top: -70%;
            z-index: -10;
            filter: opacity(0.3);
            @include sm {
                display: none;
            }
        }
    }
    h4,
    h2,
    p {
        margin: 1.5% 0;
    }
    h4 {
        margin-top: 1%;
    }
    h2 {
        margin: 3% 0;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
    p {
        font-family: $serif;
    }
}