footer {
    margin: 3.5% 0 3%;
    .wrapper {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1070px) {
            width: 65%;
        }
        @include lrg {
            flex-direction: column;
            align-items: center;
            width: 40%;
        }
        @include sm {
            width: 85%;
        }
    }
    .downloadLink {
        display: flex;
        align-items: center;
        @include lrg {
            width: 100%;
            flex-direction: column;
        }
    }
    .download {
        margin-left: 1.5rem;
        @media (max-width: 1070px) {
            position: absolute;
            left: 50%;
            margin: -8rem;
            min-width: 16rem;
        }
        @include lrg {
            position: static;
            margin: 4% 0 6%;
        }
    }
}