#contact  {
    background-image: url(../assets/cityBg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8.5%;
    padding-bottom: 12%;
    .wrapper {
        padding: 0 15%;
        @media (max-width: 1070px) {
            padding: 0 5%;
        }
        @include lrg {
            padding: 0;
        }
    }
    .contactForm {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        @include med {
            flex-direction: column-reverse;
        }
        @include sm {
            align-items: stretch;
        }
    }
    h2 {
        padding-bottom: 5%;
    }
    form {
        flex-basis: 58.5%;
        display: flex;
        flex-flow: row wrap;
        
    }
    input,
    textarea {
        flex-grow: 1;
        margin-bottom: 3.25rem;
        border: none;
        border-bottom: .25rem solid rgba(157,157,157, 0.2);
    }
    input,
    textarea,
    label {
        @include med {
            flex-basis: 100%;
        }
    }
    label:nth-of-type(1) {
        padding-right: 2rem;
        flex-shrink: 0;
        white-space: nowrap;
    }
    input:nth-of-type(1) {
        min-width: 0;
        width: 0;
        flex-shrink: 1;
        @include med {
            height: 4.5rem;
        }
    }
    input:nth-of-type(2) {
        height: 4.5rem;
        margin-bottom: 5rem;
    }
    label:nth-of-type(2),
    input:nth-of-type(2) {
        flex-basis: 100%;
    }
    textarea {
        margin-bottom: 4rem;
        resize: vertical;
    }
    label:nth-of-type(2) {
        margin-bottom: 2.5rem;
    }
    .email, 
    form {
        box-shadow: .1rem .1rem 1rem .1rem  rgba(157,157,157, 0.1), -.1rem -.1rem 1rem .1rem  rgba(157,157,157, 0.1);
        background-color: $white;
        padding: 5.5rem 4rem;
        border: transparent;
        border-radius: .75rem;
    }
    .email {
        flex-basis: 36.5%;
        padding: 2.25rem 2rem 2.25rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include lrg {
            flex-direction: column;
        }
        @include med {
            margin-top: 2.5%;
            margin-bottom: 4%;
        }
        .icon {
            width: 22.5%;
            min-width: 2rem;
            position: relative;
            @include lrg {
                margin: 10%;
                width: 20%;
            }
            &::before {
                content: '';
                background-image: url(../assets/paperPlane.svg);
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                top: 5%;
                bottom: 6%;
                left: 5%;
                right: 0;
            }
        }

    }
    span {
        padding: .3% 0;
        border-bottom: .2rem solid rgba(252,56,75, 0.2);
    }
    
    .social {
        position: absolute;
        bottom: 0;
        left: 64%;
        @include med {
            bottom: 5.5rem;
            left: unset;
            right: 4rem;
        }
        @include sm {
            right: 50%;
            margin-right: -6.5rem;
        }
        ul {
            display: flex;
            @include sm {
                justify-content: center;
            }
        }
        li {
            border: transparent;
            border-radius: .5rem;
            margin-right: .5rem;
        }
        li a {
            transition: text-shadow .25s ease-out;
            color: $white;
            display: block;
            height: 3.5rem;
            width: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        li:first-of-type {
            background-color: $black;
        }
        li:nth-of-type(2) {
            background-color: #00acee;
        }
        li:last-of-type {
            background-color: #0072b1;
        }
        li:hover a,
        li:focus-within a {
            text-shadow: 0 0 .5rem $white;
        }
        p {
            margin-bottom: 10%;
        }
    }
}