nav {
    position: relative;
    bottom: 1rem;
    @include med {
        margin-bottom: 5%;
    }

    &::before {
        content: '';
        border: $accent3 .75rem solid;
        border-radius: 50%;
        clip-path: inset(0 0 50% 0);
        position: absolute;
        left: 2.5%;
        top: -2.5%;
        width: 10.5rem;
        height: 10.5rem;
        transform: rotate(-45deg);
        @include med {
            top: unset;
            bottom: 80%;
        }
    }

    
    ul {
        display: flex;
        justify-content: space-around;
        padding: 0 28.5%;
        @include lrg {
            padding: 0 22.5%;
        }
        h3 {
            padding: .25rem 1rem;
            border: transparent;
            border-radius: 0.5rem;
        }
    }
}

.start {
    color: $accent1;
    background-color: $accent1Lighter;
    width: 65%;

}

.skills {
    color: $accent2;
    background-color: $accent2Lighter;
    width: 62%;
}

.projects {
    color: $accent3;
    background-color: $accent3Lighter;
    width: 70%;
}

.contact {
    color: $accent5;
    background-color: $accent5Lighter;
    width: 62%;
}

li:hover .start,
li:hover .skills,
li:hover .projects,
li:hover .contact,
li:focus-within .start,
li:focus-within .skills,
li:focus-within .projects,
li:focus-within .contact {
    width: 100%;
    transition: color .5s linear, background-color .5s ease-out, width .75s ease-in-out;
}

li:hover .start,
li:focus-within .start {
    color: $white;
    background-color: $accent1;
}

li:hover .skills,
li:focus-within .skills {
    color: $white;
    background-color: $accent2;
}

li:hover .projects,
li:focus-within .projects {
    color: $white;
    background-color: $accent3;
}

li:hover .contact,
li:focus-within .contact {
    color: $white;
    background-color: $accent5;
} 