#portfolio {
    .wrapper {
        margin-top: 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    ul {
        overflow-x: hidden;
        margin: 7.5% 10% 10%;
        @media (max-width: 1500px) {
            margin: 7.5% 19% 10%;            
        }
        @media (max-width: 1070px) {
            margin: 7.5% 10% 10%;
        }
        @include lrg {
            margin: 7.5% 0 10%;
        }
    }
    li {
        display: flex;
        height: 28rem;
        margin: 5% 0;
        border: transparent;
        border-radius: 1rem;
        background-color: $bgAccent2;
        @include sm {
            height: 48rem;
        }

    }
    .project {
        display: flex;
        @include sm {
            flex-direction: column;
        }
    }
    li:nth-of-type(even) {
        .project {
            flex-direction: row-reverse;
            @include sm {
                flex-direction: column;
            }
        }
        .imgContainer {
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    }
    li:nth-of-type(odd) {
        .imgContainer {
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem;
        }
    }
    p {
        padding: 1% 5% 5% 5%;
        display: flex;
        align-items: center;
    }
    .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        flex-basis: 60%;
        @include sm {
            max-height: 50%;
        }
    }
    .imgContainer {
        flex-basis: 40%;
        min-width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2.5%;
        background-color: $black;
        border: transparent;
        @include sm {
            max-height: 50%;
            padding: 15%;
        }
    }
    .liveLink {
        margin-right: 1rem
        
    }

    .links {
        display: flex;
        justify-content: space-around;
        padding: .5rem 2rem;
        align-self: center;
        border: transparent;
        border-radius: 3rem;
    }
    li:nth-of-type(1) .links,
    li:nth-of-type(5) .links {
        background-color: $accent5;
        box-shadow: .25rem .5rem 3rem .1rem rgba(240, 48, 218, 0.4);
        a {
            color: $accent5Lighter;
            &:hover,
            &:focus-within {
                color: $white;
            }
        }

    }
    li:nth-of-type(2) .links {
        background-color: $accent3;
        box-shadow: .25rem .5rem 3rem .1rem rgba(39, 162, 170, 0.4);
        a {
            color: $accent3Lighter;
            &:hover,
            &:focus-within {
                color: $white;
            }
        }

    }
    li:nth-of-type(3) .links {
        background-color: $accent2;
        box-shadow: .25rem .5rem 3rem .1rem  rgba(118, 56, 252, 0.5);
        a {
            color: $accent2Lighter;
            &:hover,
            &:focus-within {
                color: $white;
            }
        }
    }
    li:nth-of-type(4) .links {
        background-color: $accent1;
        box-shadow: .25rem .5rem 3rem .1rem  rgba(252, 56, 76, 0.5);
        a {
            color: $accent1Lighter;
            &:hover,
            &:focus-within {
                color: $white;
            }
        }
    }
}