button {
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    font-weight: 600;
    cursor: pointer;
}

.download {
    p {
        margin-bottom: unset;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
        position: relative;
        top: 0.1rem;
        right: 0.2rem;
    }
}

.download,
#contact button {
    color: $white;
    background-color: $accent1;
    border: transparent;
    padding: .35rem 2rem .6rem 1rem;
    border-radius: 2rem;
    box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(252, 56, 75, 0.3);
    transition: box-shadow .5s ease-out;
    &:hover,
    &:focus-within  {
        box-shadow: 0.5rem 0.75rem 3.5rem 0.3rem rgba(252, 56, 75, 0.5);
    }
    i {
        font-size: 2rem;
        padding-right: 0.75rem;
    }
}

footer .download {
    background-color: $accent2;
    box-shadow: 0.25rem 0.5rem 3rem 0.1rem  rgba(118, 56, 252, 0.4);
    transition: box-shadow .5s ease-out;
    &:hover,
    &:focus-within  {
        box-shadow: 0.5rem 0.75rem 3.5rem 0.3rem  rgba(118, 56, 252, 0.5);
    }
}

#contact button {
    padding: 2.25% 8% 2.25% 11%;
    display: flex;
    position: relative;
    span {
        color: $accent1;
        background-color: $white;
        height: 1.8rem;
        width: 1.8rem;
        border: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        left: 5%;
    }
    i {
        font-size: 1.0rem;
        padding-right: unset;
    }
}