$bgColor: #FAFBFC;
$black: #3A3A3A;
$white: #fff;

$sansSerif: 'Raleway', sans-serif;
$serif: 'Playfair Display', serif;

$dotColor: #9d9d9d;
$dotColorA: rgba(157,157,157, 0.2);
$dotSize: .2rem;
$dotSpace: 2rem;

$accent1: #FC384B;
$accent1Lighter: #FFEAED;
$accent2: #7638FC;
$accent2Lighter: #E5D9FF;
$accent3: #27A2AA;
$accent3Lighter: #DBFEFF;
$accent3Grad: rgb(167, 255, 224);
$accent4Lighter: rgb(245, 255, 152);
$accent5: #F030DA;
$accent5Lighter: #FFD4F4;

$bgAccent: #F4F5F5;