html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 82%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  font-size: 0;
  line-height: 0;
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body, button {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
}

button,
.download {
  font-size: 1.1rem;
}

body,
h1 {
  color: #3A3A3A;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 6.2rem;
  text-transform: capitalize;
  line-height: 7rem;
}

header h2 {
  font-size: 1.7rem;
  color: #9d9d9d;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  font-weight: 500;
}

header h2 span {
  padding-right: .25rem;
  position: relative;
  right: .5rem;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

h2 {
  font-size: 2.8rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h4 {
  text-transform: uppercase;
  color: #FC384B;
  background-color: #FFEAED;
  font-weight: 700;
  padding: .3rem 2rem;
  border: transparent;
  border-radius: 1.25rem;
}

#about h4,
#skills h4,
#portfolio h4 {
  font-size: 1.1rem;
}

#portfolio h3 {
  font-size: 1.7rem;
}

#portfolio h4 {
  background-color: unset;
  color: #9d9d9d;
}

#portfolio a {
  font-size: 1.8rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #3A3A3A;
}

#contact {
  background-color: unset;
}

#contact label,
#contact input,
#contact textarea {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
}

#contact .social {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
}

#contact .links a {
  font-size: 1.8rem;
}

footer .download,
footer i {
  font-size: 1rem;
}

footer p {
  font-size: 1.15rem;
}

footer p.copyright {
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
  font-size: 1.05rem;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  min-height: 70rem;
}

nav {
  width: 100%;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: inherit;
  position: relative;
  z-index: 40;
  padding: 14% 0 16%;
}

.wave {
  position: relative;
  background-color: #FAFBFC;
}

.wave::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 31rem;
  background: url(../assets/startBg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.wave::after {
  content: '';
  position: absolute;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  background: -webkit-gradient(linear, left top, right top, color-stop(1.8rem, #FAFBFC), color-stop(1%, transparent)) center, -webkit-gradient(linear, left top, left bottom, color-stop(1.8rem, #FAFBFC), color-stop(1%, transparent)) center, #9d9d9d;
  background: linear-gradient(90deg, #FAFBFC 1.8rem, transparent 1%) center, linear-gradient(#FAFBFC 1.8rem, transparent 1%) center, #9d9d9d;
  background-size: 2rem 2rem;
  left: 50.5%;
  top: 44.5%;
  height: 30%;
  width: 20%;
  z-index: 10;
}

.displayPic {
  position: absolute;
  height: 90%;
  right: 2.5%;
  top: 0;
  max-width: 50%;
  -webkit-clip-path: circle(32% at 45% 55%);
          clip-path: circle(32% at 45% 55%);
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.curve,
.bio::after {
  height: 15rem;
  width: 14rem;
  border: .4rem solid #0ea3f7;
  border-radius: 50%;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 80%, 51% 47%, 0 80%);
          clip-path: polygon(0 100%, 100% 100%, 100% 80%, 51% 47%, 0 80%);
  position: absolute;
  left: 53%;
  top: 53%;
  z-index: 20;
}

.bio {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bio p {
  margin-bottom: 7%;
}

.bio::after {
  content: '';
  height: 16rem;
  top: 53%;
  left: 55%;
  border: 0.8rem inset #9d9d9d;
  -webkit-filter: opacity(0.15) blur(0.2rem);
          filter: opacity(0.15) blur(0.2rem);
}

.bio::before {
  content: '';
  height: 7.5rem;
  width: 7.5rem;
  background-color: #f5ff98;
  position: absolute;
  left: 52%;
  top: 40%;
  border: transparent;
  border-radius: 50%;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

h1::before {
  content: '';
  position: absolute;
  height: 6rem;
  width: 6rem;
  background-color: #FFEAED;
  left: 61%;
  top: 21%;
  border: transparent;
  border-radius: 50%;
  -webkit-filter: opacity(0.7) brightness(99%) saturate(400%);
          filter: opacity(0.7) brightness(99%) saturate(400%);
}

h1::after {
  content: '';
  height: 3rem;
  width: 3rem;
  background-color: #E5D9FF;
  position: absolute;
  left: 88.5%;
  top: 29%;
  border: transparent;
  border-radius: 50%;
  -webkit-filter: opacity(0.7) brightness(90%) saturate(300%);
          filter: opacity(0.7) brightness(90%) saturate(300%);
}

.bgAccent::after {
  content: '';
  position: absolute;
  height: 20rem;
  width: 20rem;
  background-color: #F4F5F5;
  left: 73%;
  top: -1000%;
  border: transparent;
  border-radius: 50%;
}

.bgAccent::before {
  content: "\f005";
  font-family: 'FontAwesome';
  color: #FAFBFC;
  text-shadow: 0 0.1rem #9d9d9d;
  font-weight: 900;
  position: absolute;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left bottom, from(#27A2AA), to(#a7ffe0));
  background: linear-gradient(to bottom left, #27A2AA, #a7ffe0);
  border: transparent;
  border-radius: 1.5rem;
  left: 81.5%;
  top: 59.5%;
  z-index: 40;
}

nav {
  position: relative;
  bottom: 1rem;
}

nav::before {
  content: '';
  border: #27A2AA 0.75rem solid;
  border-radius: 50%;
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
  position: absolute;
  left: 2.5%;
  top: -2.5%;
  width: 10.5rem;
  height: 10.5rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 28.5%;
}

nav ul h3 {
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.6rem;
  padding: .25rem 1rem;
  border: transparent;
  border-radius: 0.5rem;
}

.start {
  color: #FC384B;
  background-color: #FFEAED;
  width: 65%;
}

.skills {
  color: #7638FC;
  background-color: #E5D9FF;
  width: 62%;
}

.projects {
  color: #27A2AA;
  background-color: #DBFEFF;
  width: 70%;
}

.contact {
  color: #F030DA;
  background-color: #FFD4F4;
  width: 62%;
}

li:hover .start,
li:hover .skills,
li:hover .projects,
li:hover .contact,
li:focus-within .start,
li:focus-within .skills,
li:focus-within .projects,
li:focus-within .contact {
  width: 100%;
  -webkit-transition: color .5s linear, background-color .5s ease-out, width .75s ease-in-out;
  transition: color .5s linear, background-color .5s ease-out, width .75s ease-in-out;
}

li:hover .start,
li:focus-within .start {
  color: #fff;
  background-color: #FC384B;
}

li:hover .skills,
li:focus-within .skills {
  color: #fff;
  background-color: #7638FC;
}

li:hover .projects,
li:focus-within .projects {
  color: #fff;
  background-color: #27A2AA;
}

li:hover .contact,
li:focus-within .contact {
  color: #fff;
  background-color: #F030DA;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70rem;
  position: relative;
  overflow: hidden;
}

#about::after {
  content: '';
  background-image: url(../assets/blob1.svg);
  overflow: hidden;
  position: absolute;
  height: 60rem;
  width: 50rem;
  z-index: 20;
  right: -21%;
  top: -15%;
  background-size: cover;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

#about .aboutContainer {
  background-color: #fff;
  position: relative;
  border-bottom: #FAFBFC solid 0.75rem;
  border-left: #FAFBFC solid 0.75rem;
  border-radius: .75rem;
  margin: 20%;
  padding: 3% 4.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#about .aboutContainer::before {
  content: '';
  height: 7.5rem;
  width: 7.5rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.15rem, #fff), color-stop(1%, transparent)) center, -webkit-gradient(linear, left top, left bottom, color-stop(1.15rem, #fff), color-stop(1%, transparent)) center, #FC384B;
  background: linear-gradient(90deg, #fff 1.15rem, transparent 1%) center, linear-gradient(#fff 1.15rem, transparent 1%) center, #FC384B;
  background-size: 1.5rem 1.5rem;
  position: absolute;
  left: -8.5%;
  top: -20%;
  z-index: -10;
}

#about .aboutContainer::after {
  content: '';
  height: 50rem;
  width: 50rem;
  position: absolute;
  background-image: url(../assets/blob2.svg);
  background-size: cover;
  -webkit-transform: scale(-1, 1) rotate(-30deg);
          transform: scale(-1, 1) rotate(-30deg);
  right: -30%;
  top: -70%;
  z-index: -10;
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

#about h4,
#about h2,
#about p {
  margin: 1.5% 0;
}

#about h4 {
  margin-top: 1%;
}

#about h2 {
  margin: 3% 0;
}

#about p:last-of-type {
  margin-bottom: 0;
}

#about p {
  font-family: "Playfair Display", serif;
}

#skills {
  background-image: url(../assets/cityBg.png);
  background-repeat: no-repeat;
}

#skills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

#skills ul {
  padding: 5% 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

#skills li:nth-of-type(4), #skills li:nth-of-type(5), #skills li:nth-of-type(6) {
  margin: 7.5% 0;
}

#skills li:nth-of-type(1) i {
  color: #F030DA;
}

#skills li:nth-of-type(6) i {
  color: #FC384B;
}

#skills li:nth-of-type(2) i {
  color: #27A2AA;
}

#skills li:nth-of-type(3) i {
  color: #7638FC;
}

#skills li:nth-of-type(4) i {
  color: #a7ffe0;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

#skills .icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 10rem;
  height: 10rem;
  font-size: 7.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(157, 157, 157, 0.2), -0.1rem -0.1rem 1rem 0.1rem rgba(157, 157, 157, 0.2);
          box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(157, 157, 157, 0.2), -0.1rem -0.1rem 1rem 0.1rem rgba(157, 157, 157, 0.2);
}

#skills .icon img {
  padding: 10%;
  max-height: 100%;
  display: block;
}

#skills h2 {
  margin-top: 1.5%;
}

#skills h3 {
  text-align: center;
  margin-top: 5%;
}

#skills h4 {
  color: #7638FC;
  background-color: #E5D9FF;
}

#portfolio .wrapper {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#portfolio ul {
  margin: 7.5% 19% 10%;
}

#portfolio li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28rem;
  margin: 5% 0;
  border: transparent;
  border-radius: 1rem;
  background-color: #F4F9F9;
}

#portfolio .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#portfolio li:nth-of-type(even) .project {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#portfolio li:nth-of-type(even) .imgContainer {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

#portfolio li:nth-of-type(odd) .imgContainer {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

#portfolio p {
  padding: 1% 5% 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

#portfolio .imgContainer {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  min-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5%;
  background-color: #3A3A3A;
  border: transparent;
}

#portfolio .liveLink,
#portfolio .githubLink {
  margin: 0 22.5%;
}

#portfolio .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: .5rem 2rem;
  -ms-flex-item-align: center;
      align-self: center;
  border: transparent;
  border-radius: 3rem;
}

#portfolio li:nth-of-type(1) .links {
  background-color: #27A2AA;
  -webkit-box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(39, 162, 170, 0.4);
          box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(39, 162, 170, 0.4);
}

#portfolio li:nth-of-type(1) .links a {
  color: #DBFEFF;
}

#portfolio li:nth-of-type(1) .links a:hover, #portfolio li:nth-of-type(1) .links a:focus-within {
  color: #fff;
}

#portfolio li:nth-of-type(2) .links {
  background-color: #F030DA;
  -webkit-box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(240, 48, 218, 0.4);
          box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(240, 48, 218, 0.4);
}

#portfolio li:nth-of-type(2) .links a {
  color: #FFD4F4;
}

#portfolio li:nth-of-type(2) .links a:hover, #portfolio li:nth-of-type(2) .links a:focus-within {
  color: #fff;
}

#portfolio li:nth-of-type(3) .links {
  background-color: #7638FC;
  -webkit-box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(118, 56, 252, 0.5);
          box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(118, 56, 252, 0.5);
}

#portfolio li:nth-of-type(3) .links a {
  color: #E5D9FF;
}

#portfolio li:nth-of-type(3) .links a:hover, #portfolio li:nth-of-type(3) .links a:focus-within {
  color: #fff;
}

#contact {
  background-image: url(../assets/cityBg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 8.5%;
  padding-bottom: 12%;
}

#contact .wrapper {
  padding: 0 15%;
}

#contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

#contact h2 {
  padding-bottom: 5%;
}

#contact form {
  -ms-flex-preferred-size: 58.5%;
      flex-basis: 58.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#contact input,
#contact textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 3.25rem;
  border: none;
  border-bottom: 0.25rem solid rgba(157, 157, 157, 0.2);
}

#contact label:nth-of-type(1) {
  padding-right: 2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: nowrap;
}

#contact input:nth-of-type(1) {
  min-width: 0;
  width: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

#contact input:nth-of-type(2) {
  height: 4.5rem;
}

#contact label:nth-of-type(2),
#contact input:nth-of-type(2) {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#contact textarea {
  margin-bottom: 4rem;
  resize: vertical;
}

#contact label:nth-of-type(2) {
  margin-bottom: 2.5rem;
}

#contact .email,
#contact form {
  -webkit-box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(157, 157, 157, 0.1), -0.1rem -0.1rem 1rem 0.1rem rgba(157, 157, 157, 0.1);
          box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(157, 157, 157, 0.1), -0.1rem -0.1rem 1rem 0.1rem rgba(157, 157, 157, 0.1);
  background-color: #fff;
  padding: 5.5rem 4rem;
  border: transparent;
  border-radius: .75rem;
}

#contact .email {
  -ms-flex-preferred-size: 36.5%;
      flex-basis: 36.5%;
  padding: 2.25rem 2rem 2.25rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .email .icon {
  width: 22.5%;
  position: relative;
}

#contact .email .icon::before {
  content: '';
  background-image: url(../assets/paperPlane.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 5%;
  bottom: 6%;
  left: 5%;
  right: 0;
}

#contact span {
  padding: .3% 0;
  border-bottom: 0.2rem solid rgba(252, 56, 75, 0.2);
}

#contact .social {
  position: absolute;
  bottom: 0;
  left: 64%;
}

#contact .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .social li {
  border: transparent;
  border-radius: .5rem;
  margin-right: .5rem;
}

#contact .social li a {
  -webkit-transition: text-shadow .25s ease-out;
  transition: text-shadow .25s ease-out;
  color: #fff;
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .social li:first-of-type {
  background-color: #3A3A3A;
}

#contact .social li:nth-of-type(2) {
  background-color: #00acee;
}

#contact .social li:last-of-type {
  background-color: #0072b1;
}

#contact .social li:hover a,
#contact .social li:focus-within a {
  text-shadow: 0 0 0.5rem #fff;
}

#contact .social p {
  margin-bottom: 10%;
}

footer {
  margin: 3.5% 0 3%;
}

footer .wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .downloadLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .download {
  margin-left: 1.5rem;
}

button {
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  font-weight: 600;
  cursor: pointer;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download p {
  margin-bottom: unset;
}

.download i {
  position: relative;
  top: 0.1rem;
  right: 0.2rem;
}

.download,
#contact button {
  color: #fff;
  background-color: #FC384B;
  border: transparent;
  padding: .35rem 2rem .6rem 1rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(252, 56, 75, 0.3);
          box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(252, 56, 75, 0.3);
  -webkit-transition: -webkit-box-shadow .5s ease-out;
  transition: -webkit-box-shadow .5s ease-out;
  transition: box-shadow .5s ease-out;
  transition: box-shadow .5s ease-out, -webkit-box-shadow .5s ease-out;
}

.download:hover, .download:focus-within,
#contact button:hover,
#contact button:focus-within {
  -webkit-box-shadow: 0.5rem 0.75rem 3.5rem 0.3rem rgba(252, 56, 75, 0.5);
          box-shadow: 0.5rem 0.75rem 3.5rem 0.3rem rgba(252, 56, 75, 0.5);
}

.download i,
#contact button i {
  font-size: 2rem;
  padding-right: 0.75rem;
}

footer .download {
  background-color: #7638FC;
  -webkit-box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(118, 56, 252, 0.4);
          box-shadow: 0.25rem 0.5rem 3rem 0.1rem rgba(118, 56, 252, 0.4);
  -webkit-transition: -webkit-box-shadow .5s ease-out;
  transition: -webkit-box-shadow .5s ease-out;
  transition: box-shadow .5s ease-out;
  transition: box-shadow .5s ease-out, -webkit-box-shadow .5s ease-out;
}

footer .download:hover, footer .download:focus-within {
  -webkit-box-shadow: 0.5rem 0.75rem 3.5rem 0.3rem rgba(118, 56, 252, 0.5);
          box-shadow: 0.5rem 0.75rem 3.5rem 0.3rem rgba(118, 56, 252, 0.5);
}

#contact button {
  padding: 2.25% 8% 2.25% 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#contact button span {
  color: #FC384B;
  background-color: #fff;
  height: 1.8rem;
  width: 1.8rem;
  border: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  left: 5%;
}

#contact button i {
  font-size: 1.0rem;
  padding-right: unset;
}
